@using WebAppDoDungTreEm.Models;
@{
    ViewBag.Title = "Index";
}

<br /><br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="@Url.Action("HienThiSanPhamTheoLoai","Home",new {ml = 4})"><img src="~/Content/hinhanh/BANNER_BIM_SUA_BANNER_HOME.png" style="width:103%;" alt="Alternate Text" /></a>
        </div>
        <div class="col-0">

        </div>
        <div class="col-6">
            <a href="@Url.Action("HienThiSanPhamTheoLoai","Home",new {ml = 8})"><img src="~/Content/hinhanh/Glico_T12_BANNER_HOME_871X450.jpg" style="width:103%;" alt="Alternate Text" /></a>
        </div>
    </div>
</div>
<br /><br /><br /><br />